<div class="ethereum-code">    _    _                 _   
   / \  | |__   ___  _   _| |_ 
  / _ \ | '_ \ / _ \| | | | __|
 / ___ \| |_) | (_) | |_| | |_ 
/_/   \_\_.__/ \___/ \__,_|\__|


Ethereum simulator by Yartsa Gunbu.
Source available on <a href="https://github.com/k1n0k0/ethereum-simulator" target="_blank">GitHub</a>

More information about ethereum available <a href="http://forum.ethereum.org/" target="_blank">on the forums</a>
Meet others on freenode using <a href="https://webchat.freenode.net/?channels=ethereum" target="_blank">a webclient</a> or <a href="irc://chat.freenode.net/ethereum">your own</a>.

Support Ethereum education and advocacy with code or currency.
Donations accepted at BTC: 14AYZ8qR8GDroQD72sisztMqnErYWnLqN8

Icons:

  Transaction - Fábio Testa in São Paulo, BR 2013
  Contract - Lorena Salagre 2014
  Wallet - Klara Zalokar in Ljubljana, SI 2013
  Info - David Cadusseau in Cenon, Aquitaine, FR 2012

</div>