<div id="controls" class="app-panel">
  <img id="button-transaction" src="./assets/transfer.svg" class="clickable svg-button">
  <img id="button-contract" src="./assets/contract.svg" class="clickable svg-button">
  <img id="button-wallet" src="./assets/wallet.svg" class="clickable svg-button">
  <img id="button-info" src="./assets/info.svg" class="clickable svg-button">
</div>