<div class="ethereum-code"> _   _                __        __    _ _      _   
| \ | | _____      __ \ \      / /_ _| | | ___| |_ 
|  \| |/ _ \ \ /\ / /  \ \ /\ / / _` | | |/ _ \ __|
| |\  |  __/\ V  V /    \ V  V / (_| | | |  __/ |_ 
|_| \_|\___| \_/\_/      \_/\_/ \__,_|_|_|\___|\__|
                                                   
</div>

<div>Id:
  <input id="nw-id" type="text" value="{{id}}"/>
</div>
<div>Value:
  <input id="nw-value" type="text" style="width: 40px" value="0"/>
</div>

<br><br>

<div id="button-submit-wallet" class="clickable">$ create wallet</div>
